* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(to right, 
        rgb(102, 102, 230),  
        rgb(198, 178, 227), 
        rgb(228, 102, 228));
  color: white;
  overflow-x: hidden;
  font-family:Arial, Helvetica, sans-serif;
}


.navbar {
  padding: 20px 60px;
  background: transparent;
}

.logo img {
  width: 70px;
}

.navbar-nav {
  gap: 25px;
}

.nav-link {
  color: #fff !important;
  font-weight: 500;
  transition: 0.3s;
}

.nav-link:hover {
  color: #ff4ecd !important;
}

.signin-btn {
  border: 2px solid #fff;
  padding: 8px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.3s;
}

.signin-btn:hover {
  background-color: #ff4ecd;
  border-color: #ff4ecd;
  color: #fff;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
  flex-wrap: wrap;
  background: linear-gradient(to right, 
        rgb(102, 102, 230),  
        rgb(198, 178, 227),  
        rgb(228, 102, 228));
}

.hero-text {
  flex: 1 1 450px;
}

.hero-text h1 {
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  max-width: 500px;
  margin-bottom: 30px;
  opacity: 0.9;
}

.buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.btn-primary {
  background-color: #ff4ecd;
  color: #fff;
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #ff70d2;
}

.btn-secondary {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 2px solid #fff;
}

.btn-secondary:hover {
  background-color: #8383f7;
  border-color: #fff;
}

.hero-img {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
}

.hero-img img {
  width: 100%;
  max-width: 420px;
}


@media (max-width: 992px) {
  .navbar {
    padding: 15px 30px;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 60px 30px;
  }

  .hero-text h1 {
    font-size: 42px;
  }

  .hero-img img {
    max-width: 350px;
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 50px 20px;
  }

  .hero-text h1 {
    font-size: 30px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .buttons {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .btn-primary, .btn-secondary {
    width: 80%;
    text-align: center;
  }

  .hero-img img {
    max-width: 260px;
    margin-top: 25px;
  }
}


.navbar-toggler {
  border-color: #fff !important;
}
.navbar-toggler-icon {
  filter: invert(1);
}
